<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h3>Send a new message</h3>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">New Message</a></li>
      </ul>
    </nav>
    <form method="POST" action="/new">
      <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="text-message">Text message:</label>
        <textarea name="messageText" id="text-message"></textarea>
      </div>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
