<html>
  <head>
    <title>Mini messageboard</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div>
      <h2>Message details</h2>
      <h3><%= currentMessage.user %></h3>
      <p><%= currentMessage.text %></p>
      <p>Sent on: <%= currentMessage.added %></p>
    </div>
  </body>
</html>
